@keyframes fadeIn {
    0%{

    }
    100%{
        opacity: 1
    }
}
#navBar{
    opacity: 0;
    display: flex;
    font-family: 'Century Gothic';
    justify-content: space-around;
    animation: fadeIn 2s ease;
    animation-fill-mode: forwards;
}