
#cart{
    position: fixed;
    top: -120px;
    right: -140px;
}

.cart__order{
    z-index: 2;
    background-color: rgba(255,255,255,0.5);
    border-radius: 160px;
    overflow: hidden;
}

.cart__order:hover{
    background-color: rgb(241, 241, 241);
    opacity: 1;
}

.cartImg{
    height: 50px;
    padding: 160px 160px 60px 50px;
}

.selectionCard{
    display: flex;
    justify-content: space-around;
}